@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.navbar-ofgirls {
  /* border-bottom-width: 2px; */
  border-radius : 0px;
  /* height: 40px; */
  background-color: #fff;
}

.navbar-ofgirls .navbar-brand {
  /* background-image: url('./srcs/logo.png'); */
  background-size: cover;
  width: 170px;
  height: 99px;
  line-height: 59px;
  margin-left: 0px !important;
  font-size:40px;
  font-weight: bold;
  color: #A561CE;
}

.navbar-ofgirls .navbar-nav li > a {
  font-size: 20px;
}
.navbar-ofgirls .navbar-nav li > a:hover,
.navbar-ofgirls .navbar-nav li > a:focus {
  color: #A561CE;
  border-bottom: 2px solid #A561CE;
}
.navbar-ofgirls .navbar-header .navbar-toggle {
  margin-top: 32px;
  margin-bottom: 33px;
}
.form-group {
  margin: 50px 0 !important;
}

/* desktop */
@media screen and (min-width: 992px) {
  .container {
    width : 900px;
  }
}

/*tablet*/
@media screen and (min-width: 768px) {
  .navbar-ofgirls .navbar-brand,
  .navbar-ofgirls .navbar-nav li > a {
    height: 99px;
    line-height: 70px;
    margin: auto 10px;
  }
  .container {
    width : 900px;
    /*js added font-family_17.10.03*/
    font-family : 'Noto Sans KR', sans-serif;
  }
  .info{
    padding-top : 14px;
    width : 65%;
    font-size : 18px;
  }
}

/*mobile*/
@media (max-width: 767px) {
  .info{
    padding-top : 12px;
    font-size : 14px;
  }
}
/*.info관련 : contents내 글자들이 화면 크기에 따라 바뀜_17.10.03 */


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #A561CE;
}

#phrase{
  text-align : center;
  font-weight : bold;
  font-size : 40px;
  color : #6A2D8F;
}

.main-para{
  font-size : 18px;
  text-align : center;
  padding-top : 75px;
}
