h1 a {
    color: #a561ce ;
    font-family:"Noto Sans CJK KR Light", sans-serif;
}
body {
    /*padding-left: 15px;*/
    font-family:"Noto Sans CJK KR Light", sans-serif;
}
/* https://www.w3schools.com/cssref/css_selectors.asp */
.page-header {
    background-color: #a561ce ;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family:"Noto Sans CJK KR Light", sans-serif;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.navbar-ofgirls {
  /* border-bottom-width: 2px; */
  border-radius : 0px;
  /* height: 40px; */
  background-color: #fff;
}

.navbar-ofgirls .navbar-brand {
  /* background-image: url('./srcs/logo.png'); */
  background-size: cover;
  width: 170px;
  height: 99px;
  line-height: 59px;
  margin-left: 0px !important;
  font-size:40px;
  font-weight: bold;
  color: #A561CE;
}

.navbar-ofgirls .navbar-nav li > a {
  font-size: 20px;
}
.navbar-ofgirls .navbar-nav li > a:hover,
.navbar-ofgirls .navbar-nav li > a:focus {
  color: #A561CE;
  border-bottom: 2px solid #A561CE;
}
.navbar-ofgirls .navbar-header .navbar-toggle {
  margin-top: 32px;
  margin-bottom: 33px;
}
.form-group {
  margin: 50px 0 !important;
}
@media screen and (min-width: 768px) {
  .navbar-ofgirls .navbar-brand,
  .navbar-ofgirls .navbar-nav li > a {
    height: 99px;
    line-height: 70px;
    margin: auto 10px;
  }
  .container {
    width : 900px;
  }
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #A561CE;
}