@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.navbar-ofgirls {
  border-radius : 0px;
  background-color: #fff;
}

.navbar-ofgirls .navbar-brand {
  background-size: cover;
  width: 170px;
  height: 99px;
  line-height: 59px;
  margin-left: 0px !important;
  font-size:40px;
  font-weight: bold;
  color: #A561CE;
}

.navbar-ofgirls .navbar-nav li > a {
  font-size: 20px;
}
.navbar-ofgirls .navbar-nav li > a:hover,
.navbar-ofgirls .navbar-nav li > a:focus {
  color: #A561CE;
  border-bottom: 2px solid #A561CE;
}
.navbar-ofgirls .navbar-header .navbar-toggle {
  margin-top: 32px;
  margin-bottom: 33px;
}
.form-group {
  margin: 50px 0 !important;
}

/* desktop */
@media screen and (min-width: 992px) {
  .container {
    width : 900px;
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  .navbar-ofgirls .navbar-brand,
  .navbar-ofgirls .navbar-nav li > a {
    height: 99px;
    line-height: 70px;
    margin: auto 10px;
  }
  .container {
    width : 900px;
    /* js added font-family_17.10.03 */
    font-family : 'Noto Sans KR', sans-serif;
  }
  .info{
    padding-top : 14px;
    width : 65%;
    font-size : 18px;
  }
}

/*mobile*/
@media (max-width: 767px) {
  .info{
    padding-top : 12px;
    font-size : 14px;
  }
  input[type=text] {
    font-size: 12px;
    width: 100% !important;
  }
  .validation {
    display: block !important;
  }
  .form-content {
    width: 100%;
  }
  .form-box {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .timeline-title {
    padding: auto 20px;
  }
}
/*.info관련 : contents내 글자들이 화면 크기에 따라 바뀜_17.10.03 */

#phrase{
  text-align : center;
  font-weight : bold;
  font-size : 40px;
  color : #6A2D8F;
}
.main-para{
  font-size : 18px;
  text-align : center;
  padding-top : 75px;
}

/* form theme */
.form_title {
  margin-bottom: 50px;
  padding: 1em 0 2em;
  text-align: center;
  border-bottom: 1px solid #D6D5D5;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #ffb400;
}
input[type=checkbox], input[type=radio] {
    margin: 8px 0 0;
}

.input-short {
  width: 150px;
}

.input-long {
  width: 270px;
}

.input-mid {
  width: 200px;
}

.validation {
  vertical-align: top;
  display: inline-block;
}

.form-content {
  display: table;
  font-size : 14px;
  line-height: 28px;
  margin: 50px 0;
}

.form-box {
  background: white;
  border: 20px solid #D6D5D5;
  padding: 20px 50px;
  width: 90%;
  margin: 20px auto;
}

.radio {
  margin: auto;
  margin-left: 5px;
}

.radio label {
  margin-right: 10px;
}

.checkbox {
  margin: 0 5px;
}

/* buttion design */
.btn-section {
  padding: 20px 0 31px;
	text-align: center;
	position: relative;
  margin-bottom: 100px;
}

.btn-orange {
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 20px;
  background-color: #FFB400;
  padding: 10px 30px;
  color: #fff;
  border: 2px solid #FFB400;
  margin: 10px 20px;
}
.btn-orange:hover {
  background-color: #fff;
}
