{% extends 'report/base.html' %}

{% block content %}
    <div class="container">
        <h3 style ="padding :70px"><br>Of.girls 팀은 </h3>
        <div class="info">
            <p>Opportunity for Girls 의 줄임말인 Of.girls는
                만 14세~ 만 24세 여성 청소년들의 마땅히 보장되어야 하는
                근로 권익을 지키기 위해 만들어졌습니다. <br><br>
                아르바이트를 하는 과정에서 청소년들이 경험하는 부당행위는
                임금, 성희롱, 초과근무, 치료와 보상 등 광범위하게 발생하고 있습니다.
                하지만 이런 부당한 대우를 신고하고자 할 때 고용주가 무엇을 잘못했는지
                어떤 보상을 받을 수 있는지 알기 어렵죠. <br><br>
                <span style="font-weight: bold;">이미지필요</span><br><br>
                Of.girls 팀은 여러분이 보다 정확하게 여러분의 상황을 설명하고<br>
                마땅한 보상을 받을 수 있도록 돕겠습니다.
        </div>
    </div>
{% endblock %}