{% extends 'bamboo/base.html' %}

{% block content %}
<p><a href="{% url 'post_detail' pk=post.pk %}">돌아가기</a></p>

<h3>글을 처음 작성할 때 지정한 비밀번호를 입력해주세요.</h3>

<form method="POST" class="post-form">
    {% csrf_token %}

    <button type="submit" class="save btn btn-default">확인</button>

    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}

        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>

    {% if form.errors %}
    <p class=" label label-danger">
        Your username and password didn't match.
        Please try again.
    </p>
    {% endif %}
    {% endfor %}

</form>
{% endblock %}